@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<img src="~/Images/Home/pexels-artem-podrez-4492064.jpg" alt="About us" style="width:100%"/>
<p style="font-size:25px">
    First Choice Pharmacy is an online pharmacy based in Melbourne. Customers can pre-order products, find a physical shop and book pharmacist appointments on the website. We are committed to providing our customers with the best service combined with competitive prices and quality products. We pride ourselves on being innovative, competitive and responsive to the changing needs and challenges of the market.
</p>


